<div class="container">
  <div class="clearfix mt-3">
    <h2 class="text-primary float-start">Tasks Management</h2>
    <button
      type="button"
      class="btn btn-primary float-end"
      ng-click="tc.showadd()"
    >
      <i class="bi bi-plus-circle-fill"></i>&nbsp; Create Task
    </button>
  </div>

  <alert-message alert="alertMessage"></alert-message>

  <div class="input-group mt-3">
    <button
      class="btn btn-outline-primary"
      type="button"
      id="button-addon1"
      ng-click="tc.refresh()"
      ng-if="tc.search"
    >
      <i class="bi bi-arrow-clockwise"></i>
    </button>
    <input
      type="text"
      class="form-control"
      placeholder="Type any to search"
      ng-model="tc.search"
      ng-keyup="tc.getAll()"
    />
  </div>

  <!------     Tasks Table     ------>
  <div class="card mt-3">
    <div class="table-responsive text-nowrap">
      <table class="table table-striped">
        <thead class="table-light">
          <tr>
            <th ng-click="tc.sort('id')">ID</th>
            <th ng-click="tc.sort('name')">Name</th>
            <th ng-click="tc.sort('description')">Description</th>
            <th ng-click="tc.sort('assigner')">Assigner</th>
            <th ng-click="tc.sort('type')">Type</th>
            <th ng-click="tc.sort('status')">Status</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody class="table-border-bottom-0">
          <!-- Tasks list -->
          <tr ng-repeat="task in tc.tasks | orderBy:tc.sortBy:tc.sortOrder">
            <td>{{ task.id }}</td>
            <td>{{ task.name }}</td>
            <td>{{ task.description }}</td>
            <td>{{ task.assigner }}</td>
            <td>{{ task.type }}</td>
            <td>{{ task.status }}</td>
            <td>
              <div
                class="btn-group"
                role="group"
                aria-label="Basic outlined example"
              >
                <button
                  type="button"
                  class="btn btn-sm btn-outline-info"
                  ng-click="tc.edit(task)"
                >
                  <i class="bi bi-pencil"></i>
                </button>
                <button
                  type="button"
                  class="btn btn-sm btn-outline-danger"
                  ng-click="tc.deleteform(task)"
                >
                  <i class="bi bi-trash"></i>
                </button>
              </div>
            </td>
          </tr>
          <tr ng-if="tc.tasks.length === 0">
            <td class="text-center" colspan="7">No Data Found</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <!------/     Tasks Table     ------>

  <!------     Pagination     ------>
  <div class="mt-4">
    <div class="row">
      <!------     Show records     ------>
      <div class="col-sm-12 col-md-6">
        <div class="mb-3 row">
          <div class="col-md-3">
            <select
              class="form-select"
              id="pagesize"
              ng-model="tc.pageLimit"
              ng-click="tc.getAll()"
            >
              <option value="5">5</option>
              <option value="7">7</option>
              <option value="10">10</option>
            </select>
          </div>
          <label for="pagesize" class="col-md-9 col-form-label">
            Showing {{ (tc.currentPage - 1) * tc.pageLimit + 1}} - {{
            (tc.currentPage * tc.pageLimit) > tc.totalData ? tc.totalData :
            (tc.currentPage * tc.pageLimit) }} of {{ tc.totalData }} Records
          </label>
        </div>
      </div>
      <!------/     Show records     ------>

      <!------     Pagination Number     ------>
      <div class="col-sm-12 col-md-6">
        <nav aria-label="Page navigation">
          <ul class="pagination justify-content-end">
            <li
              class="page-item"
              ng-class="{'disabled' : tc.currentPage == 1}"
              ng-click="tc.changePage(1)"
            >
              <a class="page-link" href="javascript:void(0)"
                ><span aria-hidden="true">&laquo;</span></a
              >
            </li>
            <li
              class="page-item"
              ng-class="{'disabled' : tc.currentPage == 1}"
              ng-click="tc.changePageArrow('prev')"
            >
              <a class="page-link" href="javascript:void(0)"
                ><span aria-hidden="true">&lt;</span></a
              >
            </li>
            <li
              class="page-item disabled"
              ng-class="{'notshow' : tc.currentPage == 1 || tc.currentPage == 2 || tc.currentPage == 3}"
            >
              <a class="page-link" href="javascript:void(0)">...</a>
            </li>
            <li
              ng-repeat="a in tc.range(tc.pageNumber) track by $index"
              class="page-item"
              ng-class="{'active' : tc.currentPage == $index + 1, 'notshow' :  tc.currentPage + 1 < $index || tc.currentPage - 3 > $index}"
              ng-click="tc.changePage($index + 1)"
            >
              <a class="page-link" href="javascript:void(0);"
                >{{ $index + 1 }}</a
              >
            </li>
            <li
              class="page-item disabled"
              ng-class="{'notshow' : tc.currentPage == tc.pageNumber || tc.currentPage == tc.pageNumber -1 || tc.currentPage == tc.pageNumber - 2}"
            >
              <a class="page-link" href="javascript:void(0)">...</a>
            </li>
            <li
              class="page-item"
              ng-class="{'disabled' : tc.currentPage >= tc.pageNumber}"
              ng-click="tc.changePageArrow('next')"
            >
              <a class="page-link" href="javascript:void(0)"
                ><span aria-hidden="true">&gt;</span></a
              >
            </li>
            <li
              class="page-item"
              ng-class="{'disabled' : tc.currentPage >= tc.pageNumber}"
              ng-click="tc.changePage(tc.pageNumber)"
            >
              <a class="page-link" href="javascript:void(0)"
                ><span aria-hidden="true">&raquo;</span></a
              >
            </li>
          </ul>
        </nav>
      </div>
      <!------/     Pagination Number     ------>
    </div>
  </div>
  <!------/     Pagination     ------>

  <!------     Add/Edit table     ------>
  <div class="card mt-4" ng-if="tc.tableshow">
    <div ng-show="!tc.deleteMode">
      <h5 class="card-header" ng-hide="tc.editMode">Create new task</h5>
      <h5 class="card-header" ng-show="tc.editMode">Edit task</h5>
    </div>
    <div ng-show="tc.deleteMode">
      <h5 class="card-header">Are you sure you want to delete this?</h5>
    </div>
    <div class="table-responsive text-nowrap">
      <form role="form" name="tc.addtaskform" novalidate>
        <table class="table">
          <thead class="table-light" ng-show="!tc.deleteMode">
            <tr>
              <th>Name</th>
              <th>Description</th>
              <th>Assigner</th>
              <th>Type</th>
              <th>Status</th>
            </tr>
          </thead>
          <tbody class="table-border-bottom-0" ng-show="!tc.deleteMode">
            <tr>
              <td>
                <input
                  type="text"
                  id="name"
                  name="name"
                  placeholder="Enter task's name"
                  required
                  class="form-control"
                  ng-model="tc.task.name"
                  ng-change="tc.check()"
                />
              </td>
              <td>
                <input
                  type="text"
                  id="description"
                  name="description"
                  placeholder="Enter task's description"
                  required
                  class="form-control"
                  ng-model="tc.task.description"
                  ng-change="tc.check()"
                />
              </td>
              <td>
                <select
                  required
                  class="form-select"
                  id="assigner"
                  name="assigner"
                  ng-model="tc.task.assigner"
                  ng-change="tc.check()"
                  ng-options="user.name as user.name for user in tc.users"
                ></select>
              </td>
              <td>
                <select
                  required
                  class="form-select"
                  id="type"
                  name="type"
                  ng-model="tc.task.type"
                  ng-change="tc.check()"
                >
                  <option value="devTask">devTask</option>
                  <option value="Story">Story</option>
                  <option value="PR">PR</option>
                </select>
              </td>
              <td>
                <select
                  required
                  class="form-select"
                  id="type"
                  name="type"
                  ng-model="tc.task.status"
                  ng-change="tc.check()"
                >
                  <option value="Done">Done</option>
                  <option value="In-Progress">In-progress</option>
                  <option value="To do">To do</option>
                </select>
              </td>
            </tr>
          </tbody>
          <tfoot>
            <tr>
              <td colspan="7">
                <div class="btn-group" role="group" aria-label="Basic example">
                  <div ng-show="!tc.deleteMode">
                    <span ng-hide="tc.editMode">
                      <input
                        type="submit"
                        class="btn btn-primary"
                        value="Create"
                        ng-disabled="tc.addtaskform.$invalid"
                        ng-click="tc.add()"
                      />
                    </span>
                    <span ng-show="tc.editMode">
                      <input
                        type="submit"
                        class="btn btn-primary"
                        value="Edit"
                        ng-disabled="tc.addtaskform.$invalid || tc.check()"
                        ng-click="tc.update()"
                      />
                    </span>
                  </div>
                  <div ng-show="tc.deleteMode">
                    <input
                      type="submit"
                      class="btn btn-danger"
                      value="Delete"
                      ng-click="tc.delete()"
                    />
                  </div>
                  <input
                    type="button"
                    class="btn btn-secondary"
                    value="Cancel"
                    ng-click="tc.cancel()"
                  />
                </div>
              </td>
            </tr>
          </tfoot>
        </table>
      </form>
    </div>
    <!------/     Add/Edit table     ------>
  </div>
</div>
