<div class="container">
  <div class="clearfix mt-3">
    <h2 class="text-primary float-start">Users Management</h2>
    <button
      type="button"
      class="btn btn-primary float-end"
      ng-click="showadd()"
    >
      <i class="bi bi-plus-circle-fill"></i>&nbsp; Create User
    </button>
  </div>

  <alert-message alert="alertMessage"></alert-message>

  <div class="input-group mt-3">
    <button
      class="btn btn-outline-primary"
      type="button"
      id="button-addon1"
      ng-click="refresh()"
      ng-if="search"
    >
      <i class="bi bi-arrow-clockwise"></i>
    </button>
    <input
      type="text"
      class="form-control"
      placeholder="Type any to search"
      ng-model="search"
      ng-keyup="getAll()"
    />
  </div>

  <!------     Contact Table     ------>
  <div class="card mt-3">
    <div class="table-responsive text-nowrap">
      <table class="table table-striped">
        <thead class="table-light">
          <tr>
            <th ng-click="sort('id')">ID</th>
            <th ng-click="sort('name')">Name</th>
            <th ng-click="sort('address')">Address</th>
            <th ng-click="sort('phone')">Phone Number</th>
            <th ng-click="sort('email')">Email</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody class="table-border-bottom-0">
          <!-- contact list -->
          <tr ng-repeat="u in users | orderBy:sortBy:sortOrder">
            <td>{{ u.id }}</td>
            <td>{{ u.name }}</td>
            <td>{{ u.address }}</td>
            <td>{{ u.phone }}</td>
            <td>{{ u.email }}</td>
            <td>
              <div
                class="btn-group"
                role="group"
                aria-label="Basic outlined example"
              >
                <button
                  type="button"
                  class="btn btn-sm btn-outline-info"
                  ng-click="edit(u)"
                >
                  <i class="bi bi-pencil"></i>
                </button>
                <button
                  type="button"
                  class="btn btn-sm btn-outline-danger"
                  ng-click="deleteform(u)"
                >
                  <i class="bi bi-trash"></i>
                </button>
              </div>
            </td>
          </tr>
          <tr ng-if="users.length === 0">
            <td class="text-center" colspan="6">No Data Found</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <!------/     Contact Table     ------>

  <!------     Pagination     ------>
  <div class="mt-4">
    <div class="row">
      <!------     Show records     ------>
      <div class="col-sm-12 col-md-6">
        <div class="mb-3 row">
          <div class="col-md-3">
            <select
              class="form-select"
              id="pagesize"
              ng-model="pageLimit"
              ng-click="getAll()"
            >
              <option value="5">5</option>
              <option value="7">7</option>
              <option value="10">10</option>
            </select>
          </div>
          <label for="pagesize" class="col-md-9 col-form-label">
            Showing {{ (currentPage - 1) * pageLimit + 1}} - {{ (currentPage *
            pageLimit) > totalData ? totalData : (currentPage * pageLimit) }} of
            {{ totalData }} Records
          </label>
        </div>
      </div>
      <!------/     Show records     ------>

      <!------     Pagination Number     ------>
      <div class="col-sm-12 col-md-6">
        <nav aria-label="Page navigation">
          <ul class="pagination justify-content-end">
            <li
              class="page-item"
              ng-class="{'disabled' : currentPage == 1}"
              ng-click="changePage(1)"
            >
              <a class="page-link" href="javascript:void(0)"
                ><span aria-hidden="true">&laquo;</span></a
              >
            </li>
            <li
              class="page-item"
              ng-class="{'disabled' : currentPage == 1}"
              ng-click="changePageArrow('prev')"
            >
              <a class="page-link" href="javascript:void(0)"
                ><span aria-hidden="true">&lt;</span></a
              >
            </li>
            <li
              class="page-item disabled"
              ng-class="{'notshow' : currentPage == 1 || currentPage == 2 || currentPage == 3}"
            >
              <a class="page-link" href="javascript:void(0)">...</a>
            </li>
            <li
              ng-repeat="a in range(pageNumber) track by $index"
              class="page-item"
              ng-class="{'active' : currentPage == $index + 1, 'notshow' :  currentPage + 1 < $index || currentPage - 3 > $index}"
              ng-click="changePage($index + 1)"
            >
              <a class="page-link" href="javascript:void(0);"
                >{{ $index + 1 }}</a
              >
            </li>
            <li
              class="page-item disabled"
              ng-class="{'notshow' : currentPage == pageNumber || currentPage == pageNumber -1 || currentPage == pageNumber - 2}"
            >
              <a class="page-link" href="javascript:void(0)">...</a>
            </li>
            <li
              class="page-item"
              ng-class="{'disabled' : currentPage >= pageNumber}"
              ng-click="changePageArrow('next')"
            >
              <a class="page-link" href="javascript:void(0)"
                ><span aria-hidden="true">&gt;</span></a
              >
            </li>
            <li
              class="page-item"
              ng-class="{'disabled' : currentPage >= pageNumber}"
              ng-click="changePage(pageNumber)"
            >
              <a class="page-link" href="javascript:void(0)"
                ><span aria-hidden="true">&raquo;</span></a
              >
            </li>
          </ul>
        </nav>
      </div>
      <!------/     Pagination Number     ------>
    </div>
  </div>
  <!------/     Pagination     ------>

  <!------     Modal     ------>
  <div
    class="modal fade"
    id="userModal"
    data-bs-backdrop="static"
    data-bs-keyboard="false"
    tabindex="-1"
    role="dialog"
    aria-hidden="true"
  >
    <div class="modal-dialog">
      <div class="modal-content">
        <form class="form-horizontal" role="form" name="adduserform" novalidate>
          <div class="modal-header">
            <div ng-show="!deleteMode">
              <h4 class="modal-title" id="myModalLabel" ng-hide="editMode">
                Add Contact
              </h4>
              <h4 class="modal-title" id="myModalLabel" ng-show="editMode">
                Edit Contact
              </h4>
            </div>
            <div ng-show="deleteMode">
              <h4 class="modal-title" id="myModalLabel">
                Are you sure you want to delete this?
              </h4>
            </div>
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="modal"
              aria-label="Close"
              ng-click="cancel()"
            ></button>
          </div>
          <div class="modal-body" ng-show="!deleteMode">
            <div class="row">
              <div class="col mb-3">
                <label for="name" class="form-label">Name</label>
                <input
                  type="text"
                  id="name"
                  name="name"
                  placeholder="Enter your name"
                  required
                  class="form-control"
                  ng-model="user.name"
                  ng-change="check()"
                />
                <div ng-show="adduserform.name.$dirty" class="has-error">
                  <span ng-show="adduserform.name.$invalid"
                    >Please enter a valid name</span
                  >
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col mb-3">
                <label for="address" class="form-label">Address</label>
                <input
                  type="text"
                  id="address"
                  name="address"
                  placeholder="Enter your address"
                  required
                  class="form-control"
                  ng-model="user.address"
                  ng-change="check()"
                />
                <div class="has-error" ng-show="adduserform.address.$dirty">
                  <span ng-show="adduserform.address.$invalid"
                    >Please enter a valid address</span
                  >
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col mb-3">
                <label for="phone" class="form-label">Phone Number</label>
                <input
                  type="text"
                  id="phone"
                  name="phone"
                  placeholder="Enter your phone number"
                  required
                  class="form-control"
                  ng-model="user.phone"
                  ng-change="check()"
                />
                <div class="has-error" ng-show="adduserform.phone.$dirty">
                  <span ng-show="adduserform.phone.$invalid"
                    >Please enter a valid phone number</span
                  >
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col mb-3">
                <label for="email" class="form-label">Email</label>
                <input
                  type="email"
                  id="email"
                  name="email"
                  placeholder="Enter your email"
                  required
                  class="form-control"
                  ng-model="user.email"
                  ng-change="check()"
                />
                <div class="has-error" ng-show="adduserform.email.$dirty">
                  <span ng-show="adduserform.email.$invalid "
                    >Please enter a valid email
                  </span>
                </div>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <div class="btn-group" role="group" aria-label="Basic example">
              <div ng-show="!deleteMode">
                <span ng-hide="editMode">
                  <input
                    type="submit"
                    class="btn btn-primary"
                    value="Create"
                    ng-disabled="adduserform.$invalid"
                    ng-click="add()"
                  />
                </span>
                <span ng-show="editMode">
                  <input
                    type="submit"
                    class="btn btn-primary"
                    value="Edit"
                    ng-disabled="adduserform.$invalid || check()"
                    ng-click="update()"
                  />
                </span>
              </div>
              <div ng-show="deleteMode">
                <input
                  type="submit"
                  class="btn btn-danger"
                  value="Delete"
                  ng-click="delete()"
                />
              </div>
              <input
                type="button"
                class="btn btn-secondary"
                value="Cancel"
                ng-click="cancel()"
              />
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
  <!------/     Modal     ------>
</div>
