<div class="input-group mt-3">
  <button
    class="btn btn-outline-primary"
    type="button"
    id="button-addon1"
    ng-click="tl.refresh()"
    ng-if="tl.search"
  >
    <i class="bi bi-arrow-clockwise"></i>
  </button>
  <input
    type="text"
    class="form-control"
    placeholder="Type any to search"
    ng-model="tl.search"
    ng-keyup="tl.getAll()"
  />
</div>

<!------     Tasks Table     ------>
<div class="card mt-3">
  <div class="table-responsive text-nowrap">
    <table class="table table-striped">
      <thead class="table-light">
        <tr>
          <th ng-click="tl.sort('taskId')">ID</th>
          <th ng-click="tl.sort('name')">Name</th>
          <th ng-click="tl.sort('description')">Description</th>
          <th ng-click="tl.sort('assigner')">Assigner</th>
          <th ng-click="tl.sort('type')">Type</th>
          <th ng-click="tl.sort('status')">Status</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody class="table-border-bottom-0">
        <!-- Tasks list -->
        <tr ng-repeat="task in tl.tasks | orderBy:tl.sortBy:tl.sortOrder">
          <td>{{ task.taskId }}</td>
          <td>{{ task.name }}</td>
          <td>{{ task.description }}</td>
          <td>{{ task.assigner }}</td>
          <td>{{ task.type }}</td>
          <td>{{ task.status }}</td>
          <td>
            <div
              class="btn-group"
              role="group"
              aria-label="Basic outlined example"
            >
              <button
                type="button"
                class="btn btn-sm btn-outline-info"
                ng-click="tl.editTask(task)"
              >
                <i class="bi bi-pencil"></i>
              </button>
              <button
                type="button"
                class="btn btn-sm btn-outline-danger"
                ng-click="tl.delete(task)"
              >
                <i class="bi bi-trash"></i>
              </button>
            </div>
          </td>
        </tr>
        <tr ng-if="tl.tasks.length === 0">
          <td class="text-center" colspan="7">No Data Found</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<!------/     Tasks Table     ------>

<!------     Pagination     ------>
<div class="mt-4">
  <div class="row">
    <!------     Show records     ------>
    <div class="col-sm-12 col-md-6">
      <div class="mb-3 row">
        <div class="col-md-3">
          <select
            class="form-select"
            id="pagesize"
            ng-model="tl.pageLimit"
            ng-click="tl.getAll()"
          >
            <option value="5">5</option>
            <option value="7">7</option>
            <option value="10">10</option>
          </select>
        </div>
        <label for="pagesize" class="col-md-9 col-form-label">
          Showing {{ (tl.currentPage - 1) * tl.pageLimit + 1}} - {{
          (tl.currentPage * tl.pageLimit) > tl.totalData ? tl.totalData :
          (tl.currentPage * tl.pageLimit) }} of {{ tl.totalData }} Records
        </label>
      </div>
    </div>
    <!------/     Show records     ------>

    <!------     Pagination Number     ------>
    <div class="col-sm-12 col-md-6">
      <nav aria-label="Page navigation">
        <ul class="pagination justify-content-end">
          <li
            class="page-item"
            ng-class="{'disabled' : tl.currentPage == 1}"
            ng-click="tl.changePage(1)"
          >
            <a class="page-link" href="javascript:void(0)"
              ><span aria-hidden="true">&laquo;</span></a
            >
          </li>
          <li
            class="page-item"
            ng-class="{'disabled' : tl.currentPage == 1}"
            ng-click="tl.changePageArrow('prev')"
          >
            <a class="page-link" href="javascript:void(0)"
              ><span aria-hidden="true">&lt;</span></a
            >
          </li>
          <li
            class="page-item disabled"
            ng-class="{'notshow' : tl.currentPage == 1 || tl.currentPage == 2 || tl.currentPage == 3}"
          >
            <a class="page-link" href="javascript:void(0)">...</a>
          </li>
          <li
            ng-repeat="a in tl.range(tl.pageNumber) track by $index"
            class="page-item"
            ng-class="{'active' : tl.currentPage == $index + 1, 'notshow' :  tl.currentPage + 1 < $index || tl.currentPage - 3 > $index}"
            ng-click="tl.changePage($index + 1)"
          >
            <a class="page-link" href="javascript:void(0);">{{ $index + 1 }}</a>
          </li>
          <li
            class="page-item disabled"
            ng-class="{'notshow' : tl.currentPage == tl.pageNumber || tl.currentPage == tl.pageNumber -1 || tl.currentPage == tl.pageNumber - 2}"
          >
            <a class="page-link" href="javascript:void(0)">...</a>
          </li>
          <li
            class="page-item"
            ng-class="{'disabled' : tl.currentPage >= tl.pageNumber}"
            ng-click="tl.changePageArrow('next')"
          >
            <a class="page-link" href="javascript:void(0)"
              ><span aria-hidden="true">&gt;</span></a
            >
          </li>
          <li
            class="page-item"
            ng-class="{'disabled' : tl.currentPage >= tl.pageNumber}"
            ng-click="tl.changePage(tl.pageNumber)"
          >
            <a class="page-link" href="javascript:void(0)"
              ><span aria-hidden="true">&raquo;</span></a
            >
          </li>
        </ul>
      </nav>
    </div>
    <!------/     Pagination Number     ------>
  </div>
</div>
<!------/     Pagination     ------>
